
@{
    Layout = null;
}
@model Coffee_Kiara.Models.UserData
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../../Content/Login.css">
    <link style="../../Content/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <img src="../../Photo/Loginn.jpg" />
        <div class="form">
            <div class="log">
                @using (Html.BeginForm("CekUser", "Login", FormMethod.Post))
                {
                  
                        <table>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Username)</td> <!-- Menampilkan Label Dengan Value Yang Ada Di Model UserData Bagian DisplayName -->
                            </tr>
                            <tr>
                                <td class="boxname"></td> <!-- Menampilkan Textbox Untuk Mengisi Data Username Pada Model-->
                            </tr>
                            <tr>
                                <td>@Html.ValidationMessageFor(model => model.Username)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Password)</td> <!-- Menampilkan Label Dengan Value Yang Ada Di Model UserData Bagian DisplayName -->
                            </tr>
                            <tr>
                                <td class="txb">@Html.EditorFor(model => model.Password)</td> <!-- Menampilkan Textbox Untuk Mengisi Data Password Pada Model-->
                            </tr>
                            <tr>
                                <td>@Html.ValidationMessageFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>@Html.DisplayFor(model => model.ErrorMessage)</label>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="submit" name="name" value="Login" /></td>
                            </tr>
                        </table>
                  
                  }
                </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>